
        
/* -----------------------------Global styling------------------------------ */

        /* this is for having the same font in all the html pages */

body{

    font-family: Georgia, 'Times New Roman', Times, serif;

}

    /* this is for the top bar indicating the page is opened in desktop or mobile device */
    
.site-mode {
  text-align: center;
  position: sticky;
  background-color: black;
  z-index: 10;
  top: 0;
  font-size: 16px;
  color: grey;
}

h1{
    text-align: center;
    border: 2px solid #646D7E;
    background-color: black;
}
h1:hover{
    animation: ProjectTeaserHover .25s ease-in forwards;
}
/*-----------------------This is for responsive design-----------------------*/




/* For mobile phones: */

@media(max-width:599px) {
    .desktop-only {
        display: none;
    }
    .screenshot{
        display:grid;
        grid-template-columns: repeat(1, 1fr);
    }


}



/* For tablets */

@media (min-width: 600px) {
    .mobile-only {
        display: none;

    }

    body.text-bg-dark {
        background-color: #454545 !important;
    }


}

/* this for the medium sized loptop */

@media (min-width: 1200px) and (max-width: 1799px) {

    .screenshot{
        display:grid;
        grid-template-columns: repeat(3, 1fr);
    }
}

/* For larger Screen */

@media (min-width:1800px){
    .screenshot{
        display:grid;
        grid-template-columns: repeat(3, 1fr);
    }
    
}



/*------------------------Animation Section-----------------------*/

@keyframes ProjectTeaserHover {
    from{opacity: 0; color: grey;}
    to{opacity: 1; color: #4863A0;background-color: white;}
}

@keyframes restaurantAnimation{
    from {opacity:0;background-color: #52595D;color:#BDEDFF;}
    to{opacity:1; background-color: #52595D;color:#99A3A3;}
}

/* -----------------------------End of global styling-------------------------- */


/* ---------------------------Styling for the homePage index.html------------------------- */



  /* This is to keep the card in center */
#aboutme .container-fluid {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* full viewport height */
}

    /* the size of the image is big  */
.personal-card {
  width: 500px;
}


#sec-intro{
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    grid-gap: 20px;
}

    /* to give the hover animation */
.intro:hover {
    animation: ProjectTeaserHover .25s ease-in forwards;
}

 /* this is to make the text at the center */
#projectTeaser h2{
    text-align: center;
    border: 2px solid grey ;
}

#projectTeaser h2:hover{
    animation: ProjectTeaserHover .25s ease-in forwards;
}

.pro-teaser-row{
    background-color: #727c6b;
    padding:20px;
    display: flex;
    gap: 20px;
}



/*-------------------styling for project page---------------------*/


/* this is for when the page is opened in desktop */

.project{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    margin:20px;
}
.project li{
    padding: 15px;;
}


.img{
    width:300px;
    padding:10px 5px;
}

/*--------------styling for professional experience page-------------*/

.exp_category{
    margin: 20px;
    padding: 15px;
    border: 2px solid grey;
    background-color: #736F6E;
}

.exp_category:hover{
    animation: ProjectTeaserHover .25s ease-in forwards;
}

